@{
    ViewData["Title"] = "Inicio";
}

<div class="jumbotron">
    <h1>Nicolas Anabalon</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>¡Bienvenido!</h2>
        <p>
            Esta es una aplicación de muestra para demostrar
            cómo usar Entity Framework Core en una aplicación
            web con ASP.NET Core MVC.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Construida desde cero</h2>
        <p>Es una aplicacion básica construida desde cero</p>
    </div>
    <div class="col-md-4">
        <h2>Autor</h2>
        <p>Nicolas Anabalon.</p>
    </div>
</div>